<!-- templates/base.html -->
<head>
</head>
<div align="center">
	<h1>MOVIES HUB</h1>
</div>
<head>
	<style>
		ul {
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  overflow: hidden;
		  background-color: #dddddd;
		}

		li {
		  float: left;
		}

		li a {
		  display: block;
		  padding: 8px;
		}
	</style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>	
	<ul >
		<li><a href="{% url 'home' %}">Home</a></li>
		<li><a href="{% url 'about' %}">About</a></li>
		<li><a href="{% url 'login' %}">Login</a></li>
		<li><a href="{% url 'register' %}">Register</a></li>
	</ul>
</body>
{% block content %}
{% endblock content %}
