<!-- templates/home.html -->
{% extends 'base.html' %}
{% block content %}
	<html>
	<style>
		img {
		  border-radius: 10px;
		  margin: 0;
		}
		.container{
		margin-top:0px;
		margin-bottom:0px;
		margin-left:0%;
		margin-right:10%;
		}
		.inner{
		float:left;
		margin-top:0px;
		margin-bottom:10px;
		margin-left:0%;
		margin-right:2%;
		}
	</style>
	</head>
	<body>
	{% if flag %}
		<h6>Hello {{ person }}</h6>
	{% endif %}
	
	<script>
	function func(movie_name){	
	
	window.location.href = "video";
	}
	</script>
	<div class="container">
		{% for movie in movies_images %} 
			<div class="inner">
						
						<a href="{% url 'video' movie.name %}">
						<img src="{{ movie.movie_Img.url }}" width="200" height="250"/>
						</a>
						
			</div>
		{% endfor %}
	</div>
	</body> 
	</html> 
{% endblock content %}