<!-- templates/home.html -->
{% extends 'base.html' %}
{% block content %}
	<html>
	<style>

	</style>
	</head>
	<body>
	{% if flag %}
		<h6>Hello {{ person }}</h6>
	{% endif %}
	
	<script>
	function func(movie_name){	
	
	window.location.href = "video";
	}
	</script>
		{% for movie in movies_images %} 
				<div class="col-md-4"> 
					<!--<video height="200" width="250" poster="{{ movie.movie_Img.url }}" controls>
						<source src="{{ movie.video.url }}" type='video/mp4'>
						Your browser does not support the video tag.
					</video>-->
					<br>
						
						<!--<a onclick="func('movie.name');">-->
						<a href="{% url 'video' movie.name %}">
						<img src="{{ movie.movie_Img.url }}" class="img-responsive" style="width: 50%; float: left; margin-right: 5px;" />
						</a>
					</br>

				</div>
				
		{% endfor %} 
	  
	</body> 
	</html> 
{% endblock content %}